body{
  text-align: center;
}
.create ,.counter{
  font-size: 18px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
}
.counter{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  padding: 10px;
  font-size: 18px;
  border-bottom: 5px solid black;
}
.completed{
  color: gray;
  text-decoration: line-through;
}
li{
  list-style: none;
  padding: 10px;
  background-color: lawngreen;
  border-bottom: 2px solid black;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

 